$header-shadow-length = 20px
$shadow = 0 0 $header-shadow-length $header-shadow-length white

#header
  &, &:hover
    box-shadow $shadow
.mobile-header-bar
  box-shadow $shadow

.vuepress-blog-theme-content
  box-shadow none !important
  .content__default
    h1
      display none

.vuepress-toc
  top $header-shadow-length * 2 !important
  right unset
  left 10px
